.input {
  background: transparent;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  color: var(--text-default);
  outline: none;
  transition: all 0.1s ease-in-out;
}
.input:focus {
  border: 0.2rem solid var(--primary);
  border-radius: 0.8rem;
}
