.cycles {
  font-size: 2.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.cycleDots {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.8rem;
}
.cycleDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}
.workTime {
  background: var(--warning);
}
.shortBreakTime {
  background: var(--primary);
}
.longBreakTime {
  background: var(--info);
}
